<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_2_instructor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2Instructor"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".View.ParentsNote"
            android:exported="false" />
        <service android:name=".Controller.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".View.StudentProfile"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".View.Attendance_Students" />
        <activity android:name=".View.Students_Page" />
        <activity android:name=".View.Choice_students" />
        <activity
            android:name=".View.Personal_profile"
            android:exported="false" />
        <activity
            android:name=".View.SectionsPage"
            android:exported="false" />
        <activity
            android:name=".View.MainInstructor"
            android:exported="false" />
        <activity
            android:name=".View.LoginInstructor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>